<%- include("partials/header"); -%>
    <h1>Weather</h1>
    <p> <%= weatherContent %> </p>
   

    <form action="/weather" method="post">
      <div>
        <label for="cityInput">City: </label>
        <input id = "cityInput" type="text" name="cityInput">
        <button type="submit">Go</button>
      </div>
    </form>
    <div>
    <h1>Results</h1>
     <%  weathers.forEach(function(cities){ %>

    <h1><%=cities.city%>,<%=cities.temp%></h1>
    <h2><img src=<%=cities.img%>></h2>
    <h2><%=cities.weatherdes%>, <%=cities.humidity%>, <%=cities.windspeed%>
    <% }) %></h2>
    </div>
    

<%- include("partials/footer"); -%>
